<div class="container">
  <div class="row">
    <div class="col-12" style="margin-top: 20px">
      <mat-card style="margin: 50px 0">
        <mat-card-title style="text-align: center" class="alert alert-primary">Product list</mat-card-title>
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource">

            <!-- Position Column -->
            <ng-container matColumnDef="no">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let i = index"> {{i}} </td>
            </ng-container>

            <!-- title Column -->
            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef> Title </th>
              <td mat-cell *matCellDef="let element"><a [routerLink]="['/detail-book/',element.id]">{{element.title}}</a></td>
            </ng-container>


            <!-- Author Column -->
            <ng-container matColumnDef="author">
              <th mat-header-cell *matHeaderCellDef> Author </th>
              <td mat-cell *matCellDef="let element"> {{element.author}} </td>
            </ng-container>


            <!-- edit Column -->
            <ng-container matColumnDef="edit">
              <th mat-header-cell *matHeaderCellDef> Edit </th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="primary" aria-label="Example icon button with a home icon" [routerLink]="['/update-book/',element.id]">
                  <mat-icon color="primary">edit</mat-icon>
                </button>
              </td>
            </ng-container>

            <!-- edit Column -->
            <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef> Delete </th>
              <td mat-cell *matCellDef="let element">
                <button  mat-icon-button color="primary" aria-label="Example icon button with a home icon" (click)="delete(element.id)">
                  <mat-icon color="warn">delete</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

          <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                         showFirstLastButtons
                         aria-label="Select page of periodic elements">
          </mat-paginator>
        </div>

      </mat-card>
    </div>
  </div>
</div>
