<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="list-book">
      <img
        src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.png"
        class="me-2"
        height="20"
        alt=""
        loading="lazy"
      />
      <small>Product</small>
    </a>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="create-book">Create-book</a>
      </li>
    </ul>
  </div>

</nav>
